*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'text';
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'paragraph';
    src: url(./assets/fonts/static/HankenGrotesk-Medium.ttf);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'paragraph';
}
main{
    height: 70vh;
    width: 70vw;
    border: 1px solid black;
    display: flex;
    justify-content: center; 
    align-items: center;   
    margin: auto;
}
.block{
    display:flex;
    flex-direction: column;
}
.left-section{
    text-align: center;
    /* border: 3px solid black ; */
    height: 80%;
    width: 30%;
    padding: 50px;
    border-radius: 10%;
    color: white;
    background: rgb(122,39,201);
    background: radial-gradient(circle, rgba(122,39,201,1) 6%, rgba(74,0,227,1) 97%);   
 }

.comments{
    text-align: center;
    width: 90%;
    margin: auto;   
    font-family: 'paragraph';
}
.sub-heading{
    margin: auto;
}
.left-heading{
    margin: auto;
}
.total-score{
    font-size: 50px;
    /* border: 2px solid black; */
    border-radius: 60px;
    height: 120px;
    width: 120px;
    background-color: #470CEB;
    font-family: 'text';
    margin: auto;
}
.out-off{
    font-size: 15px;
    margin-top: 20px;
}


/* right card styling  */
.right-section{
    text-align: center;
    border: 3px solid black ;
    border-width: 3px 3px 3px 0px;
    height: 80%;
    width: 30%;
    padding: 50px;
    border-radius: 0 10% 10% 0;
}

.right-heading{
    width: 100%;
    font-size: x-large;
    border: 1px solid black ;
    margin-top: -auto;
}

.summary-cards{
    width: 100%;
    margin-top:100px;
}
.summary-cards li{
    margin-top: 30px;
    list-style: none;
    width: 300px;
    border: 1px solid black;
    display: flex;
}
.icon-title{
    margin-right: 20px;
    /* margin-top: 10px; */
    width: 50%;
    /* border: 1px solid orange; */
    display: inline-flex;
    justify-content: center;

}
.summary-cards:nth-child(1){
    background-color: gold;
}
.icon-title img{
    margin-right: 20px;
}
.continue{
    margin-top:100px;
    background-color: #5b23f5;
    width: 200px;
    height: 50px;
    color: white;
    border-radius: 400px;
}
.red{
    color: rgb(243, 26, 26);
}
.green{
    color: rgb(102, 238, 102);
}
.yellow{
    color: rgb(255, 215, 35);
}
.purple{
    color: #5b23f5;
}