*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'text';
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'paragraph';
    src: url(./assets/fonts/static/HankenGrotesk-Medium.ttf);
}
body{
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    /* flex-direction: column; */
    /* height: 100vh; */
    font-family: 'paragraph';
}
main{
    height: 70vh;
    width: 100vw;
    border: 1px solid black;
    display: flex;
    justify-content: center; 
    align-items: center;   
    margin: auto;
}
.block{
    display:flex;
    flex-direction: column;
}
.left-section{
    text-align: center;
    /* border: 3px solid black ; */
    height: 80%;
    width: 20%;
    padding: 50px;
    border-radius: 10%;
    color: white;
    background: rgb(122,39,201);
    background: radial-gradient(circle, rgba(122,39,201,1) 6%, rgba(74,0,227,1) 97%); 
    margin-left: 100px;
 }

.comments{
    text-align: center;
    width: 90%;
    margin: auto;   
    font-family: 'paragraph';
}
.sub-heading{
    margin: auto;
}
.left-heading{
    margin: auto;
}
.total-score{
    font-size: 50px;
    /* border: 2px solid black; */
    border-radius: 60px;
    height: 120px;
    width: 120px;
    background: rgb(101,0,198);
    background: linear-gradient(184deg, rgba(101,0,198,1) 53%, rgba(122,39,201,1) 97%); 
    font-family: 'text';
    margin: auto;
}
.out-off{
    font-size: 15px;
    margin-top: 20px;
}


/* right card styling  */
.right-section{
    text-align: center;
    /* border: 3px solid black ; */
    border-width: 3px 3px 3px 0px;
    height: 80%;
    width: 20%;
    padding: 50px;
    border-radius: 0 10% 10% 0;
    box-shadow: 8px 6px 15px -6px rgba(0,0,0,0.64);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-heading{
    width: 100%;
    height: 10%;
    font-size: x-large;
    /* border: 1px solid black ; */
    padding: 1px;
    text-align: left;
    margin-top: 10%;
    margin-left: 10%;
}

.summary-cards{
    width: 100%;
    margin-top:10px;

}
ul{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.summary-cards li{
    margin-top: 10%;
    list-style: none;
    width: 90%;
    height: 15%;
    display: flex;
    border-radius: 10px;
    text-align: top;
    justify-content: space-between;
    font-size: 100%;
}
.icon-title{
    display: inline-flex;
    width: 40%;   
    justify-content: space-around;
    align-items: center;
}
ul li img{
    width: 20%;
}
.score{
    /* border: 1px solid black; */
    width: 100px;
    height: 30px;
    text-align: center;
    margin-top: 6px;
    color: grey;
}
.continue{
    margin-top:30px;
    background: rgb(91, 35, 245);
    background: linear-gradient(184deg, rgb(91, 35, 245) 53%, rgb(142, 90, 245) 97%); 
    width: 90%;
    height: 10%;
    color: white;
    border-radius: 400px;
    cursor: pointer;
}
.red{
    color: rgb(243, 26, 26);
    text-align: center;
}
.green{
    color: rgb(102, 238, 102);
}
.yellow{
    color: rgb(238, 205, 61);
}
.purple{
    color: #5b23f5;
}

.summary-cards li:nth-child(1){
    background-color:rgb(253, 211, 211);
}
.summary-cards li:nth-child(3){
    background-color:rgb(223, 253, 208);
}
.summary-cards li:nth-child(2){
    background-color:rgb(250, 252, 163);
}
.summary-cards li:nth-child(4){
    background-color:rgb(229, 183, 255);
}